

<td>{{user.name}}</td>
<td>{{user.lastname}}</td>
<td>{{user.fiscalcode}}</td>
<td>{{user.email}}</td>
<td>{{user.phone}}</td>
<td>{{user.province}}</td>
<td>{{user.age}}</td>

<td>
  <div class="row">
    <div class="col-sm-4">
      <button (click)="updateUser()" class="btn btn-primary btn-sm" style="padding: 3px;">
        <fa-icon [icon]="pencil" size="lg"></fa-icon>
      </button>
    </div>
    <div class="col-sm-4">
      <button (click)="showUser(user)" class="btn btn-warning btn-sm" style="padding: 3px;" >
        <fa-icon [icon]="save" size="lg"></fa-icon>
      </button>
    </div>
    <div class="col-sm-4">
      <button (click)="deleteUser(user)" class="btn btn-danger btn-sm" style="padding: 3px;" >
        <fa-icon [icon]="trash" size="lg"></fa-icon>
      </button>
    </div>
  </div>
</td>

